<!doctype html>
<head>
  <title>AOAI Infra Workshop</title>
  <!-- link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" -->
  <!-- link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" -->
</head>
<html>
  <body>
    <main>
      <div class="px-4 py-3 my-2 text-center">
        <h1 class="display-6 fw-bold text-primary">AOAI Infra Workshop - Sample App</h1>
      </div>
      <form method="post" action="{{url_for('answer')}}">
        <div class="col-md-6 mx-auto text-center">
          <label for="name" class="form-label fw-bold fs-5">Could you input your question.</label>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
            <!-- input type="text" class="form-control" id="name" name="name" style="max-width: 600px;" -->
	    <textarea id="message" name="message" rows="4" cols="80"></textarea>
          </div>            
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
            <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Send</button>
          </div>            
        </div>
      </form>
    </main>      
  </body>
</html>
